.tabSwitcher {
  width: 100%;
  margin: 20px 0;
}

.tabs {
}

.tabButton {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #1D1C1C;
  border: 1px solid #52504E;
  transition: background-color 0.3s;
}

.tabButton:hover {
  background-color: #29292A;
}

.tabButton.active {
  background-color: #29292A;
  font-weight: bold;
}

.tabContent {
}
